<component name="ArtifactManager">
  <artifact type="war" name="SpringPRJ:war2">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringPRJ_war2</output-path>
    <root id="archive" name="SpringPRJ_war.war">
      <element id="artifact" artifact-name="SpringPRJ:war exploded" />
    </root>
  </artifact>
</component>